- c.cobble :inventory do
  = attributes_list resource, columns: [:country, :origin_country, :birth_date_completeness, :filiation_status, :birth_farm_number, :first_calving_on, :origin_country, :origin_identification_number, :end_of_life_reason, :country, :mother_country, :mother_identification_number, :mother_variety, :father_country, :father_identification_number, :father_variety]
